<%= form_tag("/earnings", method: "get", remote: :true, id: "earnings-form" ) do %>
<div class="row form-row">
  <div class="col-md-4">
    <div class="field-container">
      <div class="row"> 
        <%= label_tag("Insurance Cost" ) %>
      </div>
      <div class="row">
        <%= number_field(:earnings, :insurance_cost, in: 1..100, step: 1, class: "field") %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field-container">
      <div class="row"> 
        <%= label_tag("Mobile Plan Cost") %>
      </div>
      <div class="row">
        <%= number_field(:earnings, :mobile_plan_cost, in: 1..100, step: 1, class: "field") %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field-container">
      <div class="row"> 
        <%= label_tag("Fuel Cost / gallon ") %>

      </div>
      <div class="row">
        <%= number_field(:earnings, :fuel_cost, in: 1..100, step: 0.1, class: "field") %>  

      </div>
    </div>
  </div>
</div>

<div class="row form-row">
  <div class="col-md-4">
    <div class="field-container">
      <div class="row"> 
        <%= label_tag("Commute Distance") %>
      </div>
      <div class="row">
        <%= number_field(:earnings, :commute_distance, in: 1..100, step: 1, class: "field") %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field-container">
      <div class="row"> 
        <%= label_tag("Days Per Week") %>
      </div>
      <div class="row">
        <%= number_field(:earnings, :days_per_week, in: 1..7, step: 1, class: "field") %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field-container">
      <div class="row"> 
        <%= label_tag("Hours Per Week") %>
      </div>
      <div class="row">
        <%= number_field(:earnings, :hours_per_week, in: 1..100, step: 1, class: "field") %>
      </div>
    </div>
  </div>
</div>
<div class="btn-container">
  <%= submit_tag("Estimate Earnings", class: "btn btn-default") %> 
</div>
<% end %>
